<footer class="footer-16371 py-4 py-lg-5 mt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <div class="footer-site-logo mb-4 d-none d-lg-block">
          <a href="#">HOTEL TARCON</a>
        </div>
        <ul class="list-unstyled d-flex d-md-block flex-column nav-links">
          <li><a href="#">Home</a></li>
          <li class="d-none d-md-inline"><a href="#">Hotel</a></li>
          <li class="d-none d-md-inline"><a href="#">Restaurant</a></li>
          <li class="d-none d-md-inline"><a href="#">Bar</a></li>
          <li class="d-none d-md-inline"><a href="#">About Us</a></li>
          <li class="d-none d-md-inline"><a href="#">Contact Us</a></li>
          <li><a href="/policy/privacy-policy">Privacy Policy</a></li>
          <li><a href="/policy/refund-policy">Refund Policy</a></li>
          <li><a href="/policy/terms-and-conditions">Terms & Conditions</a></li>
          <li><a href="/policy/faq">FAQ</a></li>
        </ul>

        <div class="social mb-0 mb-lg-4">
          <ul class="list-unstyled mb-0 mb-lg-4">
            <li class="in"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li class="fb"><a href="https://www.facebook.com/profile.php?id=100088039020752" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li class="tw"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li class="pin"><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
          </ul>
        </div>

        <div class="copyright">
          <p class="mb-0 d-inline-block me-2"><small>&copy; Hotel Tarcon 2022. All Rights Reserved.</small></p>
          <p class="mb-0 fw-lighter d-inline-block"><small>Developed by The Designer Sikkim</small></p>
        </div>


      </div>
    </div>
  </div>
</footer>