<footer class="footer-16371">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <div class="footer-site-logo mb-4">
          <a href="#">HOTEL TARCON</a>
        </div>
        <ul class="list-unstyled nav-links mb-5">
          <!-- <li><a href="#">Room Categories</a></li>
          <li><a href="#">Food Items</a></li>
          <li><a href="#">Bar Menu</a></li>
          <li><a href="#">Tarcon News</a></li>
          <li><a href="#">Nearby Points</a></li>
          <li><a href="#">Free Services</a></li>
          <li><a href="#">Sikkim Facts</a></li> -->
          <li><a href="#">Home</a></li>
          <li><a href="#">Rooms</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Discover Sikkim</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>

        <div class="social mb-4">
          <ul class="list-unstyled">
            <li class="in"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li class="fb"><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li class="tw"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li class="pin"><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
          </ul>
        </div>

        <div class="copyright">
          <p class="mb-0"><small>&copy; Hotel Tarcon 2022. All Rights Reserved.</small></p>
          <p class="mb-0 fw-lighter"><small>Developed by The Designer Sikkim</small></p>
        </div>


      </div>
    </div>
  </div>
</footer>