<section class="about_area section_gap" id="section-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <div class="top-part">
                        <p class="text-capitalize">Greetings Dear User, Welcome to the</p>
                    </div>
                    <h2 class="text-center primary-dark">
                        Royal &amp; Affordable
                    </h2>
                    <div class="bottom_part">
                        <p>
                            <!-- The Hotel Tarcon offering Amazing rooms, Classic ambiance & <br>An ideal choice for a holiday in the sign of refinement. -->
                            The Hotel Tarcon offers amazing rooms, a classical ambience & <br>
                            an ideal choice for a holiday as a sign of refinement
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>