<section class="about_area section_gap" id="section-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <div class="top-part">
                        <p class="text-capitalize">Greetings Dear User, Welcome to the</p>
                    </div>
                    <h2 class="text-center primary-dark">
                        Royal &amp; Affordable
                    </h2>
                    <div class="bottom_part">
                        <p>
                            The Hotel Tarcon, A premium & luxury hotel with 3 star room facilities with modern amenities.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  