
<!-- Popular Destination Start -->
<div class="popular_destination_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <p>From the crystalline glaciers to the lakes and hot springs, from the flora and the fauna to the picturesque
            mountain passes with the culture, people and food, Sikkim is truly a melting pot of all
            things magical. It’s a must-visit for all kinds of travellers.</p>
        </div>
      </div>
    </div>


    <div class="row flex-nowrap overflow-x-scroll">
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/gangtok.png" alt="">
          </div>
          <div class="content">
            <!-- <p class="d-flex justify-content-center">Gangtok <a href="travel_destination.html"> 07 Places</a> </p> -->
            <p class="d-flex justify-content-center">Gangtok</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/pelling.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex justify-content-center">Namchi</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/tsomgo-lake.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex justify-content-center">Tsomgo Lake</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/gurudongmar-lake.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex justify-content-center">Gurudongmar Lake</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/nathula-pass.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex justify-content-center">Nathu La Pass</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/YUMTHANG-VALLEY-TO-LHABA-PASS-1-1.jpg" alt="">
          </div>
          <div class="content">
            <p class="d-flex justify-content-center">Yumthang Valley</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Popular Destination End -->


<!-- Reservation Area Start -->
<div class="reservation-area section-padding text-center w-100">
  <div class="container-fluid px-0 w-100">
    <div class="row">
      <div class="col-lg-12">
        <h2>Want To Know More About Sikkim?</h2>
        <h5 class="mt-2"> <i class="fa-solid fa-up-right-from-square me-2"></i> <a href="https://www.sikkimtourism.gov.in/" target="_blank" rel="noopener noreferrer" class="text-primary">Visit Official Sikkim Tourism Page For More Info</a> </h5>
      </div>
    </div>
  </div>
</div>
<!-- Reservation Area Start -->