/* <!-- Popular Destination Start--> */

a {
    text-decoration: none;
}

.popular_destination_area {
    padding-bottom: 120px;
}

.section_title h3 {
    font-size: 38px;
    font-weight: 400;
    color: #040E27;
    position: relative;
    z-index: 0;
    padding-bottom: 7px;
    line-height: 1.2em;
}

.popular_destination_area .single_destination {
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_destination_area .single_destination:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.single_destination {
    height: 250px;
}

.popular_destination_area .single_destination .thumb img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}

.popular_destination_area .single_destination .content {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: .5rem .5rem .5rem .5rem;
    z-index: 7;
    background: rgba(0,0,0,.2);
    font-weight: bold;
}

.popular_destination_area .single_destination .content p {
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.section-padding {
    padding: 130px 0;
}

.reservation-area {
    background-image: url('../../../assets/home-componenet/populardestination/sikkim-mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation-area h2 {
    color: rgb(255 250 241);
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 700;
}

.reservation-area h5 {
    color: #eeac36;
    font-size: .9rem;
    text-transform: initial;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.template-btn {
    color: #131230;
    background: #ffb606;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    display: inline-block;
    padding: 12px 30px !important;
    transition: all 0.5s;
    text-decoration: none;
}

.single_destination {
    scroll-snap-align: center !important;
 }