
<!-- Popular Destination Start -->
<div class="popular_destination_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <p>From the crystalline glaciers to the lakes and hot springs, from the flora and the fauna to the picturesque
            mountain passes and a tête-à-tête with the culture, people and food, Sikkim is truly a melting pot of all
            things magical. It’s a must-visit for all kinds of travellers.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/gangtok.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Gangtok <a href="travel_destination.html"> 07 Places</a> </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/pelling.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Namchi <a href="travel_destination.html"> 03 Places</a> </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/tsomgo-lake.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Tsomgo Lake <a href="travel_destination.html"> 10 Places</a> </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/gurudongmar-lake.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Gurudongmar Lake <a href="travel_destination.html"> 02 Places</a> </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/nathula-pass.png" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Nathu La Pass <a href="travel_destination.html"> 02 Places</a> </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_destination">
          <div class="thumb">
            <img src="assets/home-componenet/populardestination/YUMTHANG-VALLEY-TO-LHABA-PASS-1-1.jpg" alt="">
          </div>
          <div class="content">
            <p class="d-flex align-items-center">Yumthang Valley <a href="travel_destination.html"> 05 Places</a> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Popular Destination End -->


<!-- Reservation Area Start -->
<div class="reservation-area section-padding text-center mb-5 w-100">
  <div class="container-fluid px-0 w-100">
    <div class="row">
      <div class="col-lg-12">
        <h2>Want To Know More About Sikkim?</h2>
        <h4 class="mt-4">Visit Official Sikkim Tourism Page For More Info</h4>
        <a href="https://www.sikkimtourism.gov.in/" class="template-btn template-btn2 mt-4">Explore Sikkim</a>
      </div>
    </div>
  </div>
</div>
<!-- Reservation Area Start -->