<section id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="assets/img/menu/gallery/gallery-8.jpg" width="100%" height="100%">
            </div>
            <div class="col-6">
                <h4>Year 2022</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur mollitia aspernatur distinctio
                    quam voluptatum et dolores officiis unde explicabo recusandae!</p>
            </div>
        </div>
    </div>
</section>