.about-img{
    transform: scale(.9);
    border-radius: 50px;
    border: 10px solid white;
}

.about-img.invert{
    transform: scale(.9);
}

@media (min-width: 768px) {
    .about-img{
        transform: rotate(-3deg) scale(.9);
    }
    
    .about-img.invert{
        transform: rotate(3deg) scale(.9);
    }
  }
  