<div class="container">

    <div class="row flex-column flex-md-row align-items-center text-center">
        <div class="col-12 col-md-6 p-2">
            <img src="assets/slider-images/home7.jpg" width="100%" height="100%" class="about-img shadow">
        </div>
        <div class="col-12 col-md-6 p-2 px-3">
            <h4>Estabhlishment - 2021</h4>
            <p>This year we estabhlished our hotel with the name Hotel Tarcon.</p>
        </div>
    </div>

    <div class="row flex-column flex-md-row align-items-center text-center">
        <div class="col-12 col-md-6 p-2">
            <img src="assets/slider-images/restaurant2.JPG" width="100%" height="100%" class="about-img invert shadow">
        </div>
        <div class="col-12 col-md-6 p-2 px-3 order-md-first">
            <h4>Opening Restaurant - 2021</h4>
            <p>Enjoy the various authentic Indian, Chinese, Continental & Jain Cuisines.</p>
        </div>
    </div>

    <div class="row flex-column flex-md-row align-items-center text-center">
        <div class="col-12 col-md-6 p-2">
            <img src="assets/slider-images/bar2.JPG" width="100%" height="100%" class="about-img shadow">
        </div>
        <div class="col-12 col-md-6 p-2 px-3">
            <h4>Opening Bar - 2021</h4>
            <p>Luxurious bar with premium drinks, organic wines & flavoured hookah..</p>
        </div>
    </div>
    <div class="row flex-column flex-md-row align-items-center text-center">
        <div class="col-12 col-md-6 p-2">
            <img src="assets/slider-images/bar2.JPG" width="100%" height="100%" class="about-img invert shadow">
        </div>
        <div class="col-12 col-md-6 p-2 px-3 order-md-first">
            <h4>Opening Café - 2021</h4>
            <p>Open roof café, with natural view and authentic drinks</p>
        </div>
    </div>


</div>