<app-policy-header [expectedHeaderName]="headerName"></app-policy-header>
<div class="container privacy-policy-container px-5 my-5 policies">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center text-uppercase section-title pt-4 pb-4 mb-3">Frequently Asked Questions</h1>
      <!-- <h5 class="card-title">Frequently Asked Questions</h5> -->
      <div class="accordion accordion-flush" id="faq-group-2">
        <div class="accordion-item">
          <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1"
              type="button" data-bs-toggle="collapse"> What is your return policy? </button></h2>
          <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body"> Users can get 100% refund if they cancel the bookng within an hour, 75% refund
              within 24 hours and 50% refund within 1 day.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2"
              type="button" data-bs-toggle="collapse"> When will I get my refund?
            </button></h2>
          <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body"> In minus quia impedit est quas deserunt deserunt et. Nulla non quo dolores
              minima fugiat aut saepe aut inventore. Qui nesciunt odio officia beatae iusto sed voluptatem possimus
              quas. Officia vitae sit voluptatem nostrum a.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3"
              type="button" data-bs-toggle="collapse"> Is it possible to order an extra bed/baby cot and how much will
              it be? </button></h2>
          <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body"> The extra bed/baby cots hotel policy is written in "Payment and cancellation
              conditions" in section "Children and Extra Bed Policy". Each accommodation has its own extra bed policy,
              therefore its necessary to always check it in order to find out if the extra bed will be possible or not.
              Please note that the price for extra beds wil not be included in the total price for accommodation. If you
              wish to add extra bed or baby cot, please write this request into „Request box“ in the reservation form.
              Please note that any type of extra bed or baby cot is upon request and has to be confirmed by the
              accommodation after your reservation.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4"
              type="button" data-bs-toggle="collapse"> Are fees and taxes included in prices?
            </button></h2>
          <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body"> This is different for each country and also any type of accommodation. For this
              information, please always check the room conditions by clicking on the name of the room you are
              interested in.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5"
              type="button" data-bs-toggle="collapse"> How do I cancel my booking? </button></h2>
          <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
            <div class="accordion-body"> Aut necessitatibus maxime quis dolor et. Nihil laboriosam molestiae qui
              molestias placeat corrupti non quo accusamus. Nemo qui quis harum enim sed. Aliquam molestias pariatur
              delectus voluptas quidem qui rerum id quisquam. Perspiciatis voluptatem voluptatem eos. Vel aut minus
              labore at rerum eos.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>