<div class="container">
  <h1>Online Booking (RazorPay)</h1>
  <p class="text-muted">Last updated: November 20, 2022</p>
  <h3>Processing Time</h3>
  <p>When you send a Normal refund request to Razorpay, the information is sent to our banking partners. Depending on
    the bank's processing time, it can take 5-7 business days for the refunds to reflect in the customer's bank account
    or card balance.</p>
  <p>The time taken to process a normal refund depends on the payment mode used while making the payment.</p>

  <table class="center table-bordered px-5 w-50">
    <thead class="bg-light">
      <tr>
        <th class="p-3">Payment Method</th>
        <th class="p-3">Refund Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-3"><kbd>credit</kbd> or <kbd>debit cards</kbd></td>
        <td class="p-3">5-10 days</td>
      </tr>
      <tr>
        <td class="p-3"><kbd>netbanking</kbd></td>
        <td class="p-3">2-10 days</td>
      </tr>
      <tr>
        <td class="p-3"><kbd>wallet</kbd></td>
        <td class="p-3">0-3 days</td>
      </tr>
      <tr>
        <td class="p-3"><kbd>upi</kbd></td>
        <td class="p-3">2-7 days</td>
      </tr>
    </tbody>
  </table>

  <h3 class="mt-3">Refund Fees</h3>
  <p>For Normal refunds, Razorpay does not charge any processing fee. However, the transaction fee and GST levied by
    Razorpay at the time of payment capture will not be reversed to your account (merchant's account).</p>

  <h1>General Cancellation and Refund policies (Hotel)</h1>
  <p>1. All rates, promotions and discounts are subject to change without notice.</p>
  <p>2. All rooms are subject to availability unless the client has guaranteed their reservation.</p>
  <p>3. A maximum of 4 people is allowed in any room.</p>
  <p>4. All reservations must be guaranteed at the time of its completion or failing to provide a time limit to provide
    guarantee of it. </p>

  <h3 class="mt-4">Of Cancellations and / or Changes.</h3>
  <p>1. Any change or cancellation of a reservation must be made 72 hours before the arrival of the hotel in order not
    to
    generate a charge.</p>
  <p>2. Any cancellation generated before 72 hours in regular season before the arrival of the guest may make their
    request
    for reimbursement in case the reservation there is fully prepaid.</p>
  <p>3. In the season of bridges and holidays, any cancellation 3 days before your arrival applies one nigth’s charge
  </p>
  <p>4. In Premium seasons (Easter and New Year) any cancellation is non-refundable</p>
  <p><b>About No Show</b></p>
  <p>5. In case of not making a change or cancellation in a timely manner or not showing up at the hotel on the
    established date , they must be taken as a “No Show”</p>

  <h2 class="mt-4">About Warranty</h2>
  <p><b>1. All reservations must be guaranteed by the following payment methods:</b></p>
  <p>a) Credit card.<br>
    b) Electronic transfer.<br>
    c) Bank deposit.<br>
    d) Guarantee letter.<br>
  </p>
  <p>2. The amount of the guarantee must be for the first night of each room reserved.</p>
  <p>3. In the case of deposits and / or bank transfers, it is mandatory for the guest to notify the reservation
    department at least 48 hours. Prior to the date of your reservation by email that includes your scanned receipt.</p>
  <p>4. In the case of deposits and / or bank transfers, it is mandatory for the guest to notify the reservation
    department at least 48 hours. Prior to the date of your reservation by email that includes your scanned receipt</p>
  <p>5. If it is not approved by the issuing bank, the reservation must be considered as not guaranteed and the hotel is
    not obliged to respect the reservation.</p>
  <p>6. In case the client does not pay the guarantee, the hotel is not obliged to respect the reservation. </p>

  <h2 class="mt-4">About Refunds</h2>
  <p><b>1. A refund will only be made in the case of errors attributable to the hotel and that would be the following
      cases:</b></p>
  <p>a) When a charge higher than the charge corresponding to the type of room that the guest has reserved has been
    made.<br>
    b) When the number of nights charged to the guest exceeds the number of nights the guest has stayed.<br>
    c) When in compliance with the hotel´s cancelation policies, the guest is creditor to receive a refund.<br>
    d) Only refunds must be made for cancellations attached to the cancellation section.<br>
  </p>
  <p>2. All reimbursement must be made exclusively by means of a bank deposit or electronic transfer directly to the
    client´s account. <b>NO CASH REFUNDS MUST BE MADE.</b></p>

  <h2 class="mt-4">Of Cases of Force Majeure</h2>
  <p>1. The hotel is not responsible for any other expenses due to inconveniences caused by a tropical storm, hurricane
    or any force majeure event. </p>

  <div class="row text-center mt-5">
    <div class="col-12 col-md-4">
      <h2>CONTACT</h2>
      <hr>
      <span><b>Call: </b>8902373885</span><br>
      <span><b>Whatsapp: </b>7449506745</span>
    </div>
    <div class="col-12 col-md-4">
      <h2>VISIT</h2>
      <hr>
      <span>Sungava, near Vajra taxi stand, Gangtok, Sikkim - 737101</span><br>
      <span class="tarcon-site"><i class="fa-solid fa-up-right-from-square me-2"></i> <a href="https://www.tarconsikkim.in" target="_blank" rel="noopener noreferrer" class="text-primary">www.tarconsikkim.in</a></span>
    </div>
    <div class="col-12 col-md-4">
      <h2>FOLLOW</h2>
      <hr>
      <div class="social mb-0 mb-lg-4">
        <ul class="list-unstyled mb-0 mb-lg-4">
          <li class="in"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
          <li class="fb"><a href="https://www.facebook.com/profile.php?id=100088039020752" target="_blank"><i
                class="fa-brands fa-square-facebook"></i></a></li>
          <li class="tw"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li class="pin"><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>






</div>