// Check Room Availibility

.check-availabilty {
    position: relative;
    z-index: 10;
    top: -120px;
}

.check-availabilty .block-32 {
    background: linear-gradient(273deg, #fffefc, #fff4e1) !important;
    border-radius: 10px;

}

.block-32 {
    padding: 30px;
    margin: auto;
    box-shadow: 0 2px 80px -10px rgb(0 0 0 / 20%);
}
.block-32 form{
    display: none;
}
.block-32 form.active{
    display: block !important;
    opacity: 1;
}

input, select{
    outline: none;
    border: none;
    color: gray;
    user-select: none;
}

input:focus, select:focus{
    color: #212529;
    background-color: #fff;
    border-color: #ffe7bd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 211 146 / 25%);
}



::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    margin-bottom: -1.25em;
}

::ng-deep .mat-form-field-infix {
    background: white;
    border-radius: .375rem;
    padding-left: 1rem !important;
    border-top: 0 !important;
    text-align: center;
    padding-bottom: 0.7rem !important;
    overflow: hidden;
}

::ng-deep .mat-form-field mat-label{
    margin-left: 1rem !important;
}

::ng-deep .mat-form-field label {

}