<app-policy-header [expectedHeaderName]="headerName" class="mb-5"></app-policy-header>
<div class="container new-about-us-container px-4 policies">

  <!-- Replace these codes -->
  <p class="text-center vh-100 w-100 mt-5 pt-5">NEW ABOUT US CONTENT GOES HERE</p>

</div>


<!-- 
<section class="make-customer-area customar-padding fix container my-5">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="customer-img mb-120">
          <img src="assets/about-us/customar1.png" class="customar-img1" alt="">
          <img src="assets/about-us/customar2.png" class="customar-img2" alt="">
          <div class="service-experience heartbeat">
            <h3>Perfect Place For<br>Experience</h3>
          </div>
        </div>
      </div>
      <div class=" col-xl-6 col-lg-4">
        <div class="customer-caption">
          <span>About Us</span>
          <h2>Hotel Tarcon</h2>
          <div class="caption-details">
            <p class="pera-dtails">Hotel tarcon is one of the best luxery class hotel in Gangtok, Sikkim, India.</p>
            <p>A large, stylish accommodation with breath-taking valley views is offered by the hotel Tarcon. Affordably
              priced conveniences and the most up-to-date facilities with tasteful design. Western-style café and a
              multi-cuisine restaurant with a luxurious bar. The Hotel Tarcon is dedicated to providing top-notch hospitality by fostering a home like ambience for both tourists and business travelers inspired by culture.
              We are aware of how lovely your moments are, and we do everything possible to ensure that your time with us is unforgettable.</p>
            <a href="#" class="btn more-btn1">Learn More <i class="ti-angle-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->