<section id="section-bar">
  <section class="ftco-section pb-0">
    <div class="container">
      <div class="row px-5">
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-1.jpg);"></div>
            <!-- <img class="img" src="img/kind-1.jpg"> -->
            <h3>Brandy</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-2.jpg);"></div>
            <h3>Gin</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-3.jpg);"></div>
            <h3>Rum</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-4.jpg);"></div>
            <h3>Tequila</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-5.jpg);"></div>
            <h3>Vodka</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
          <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
            <div class="img" style="background-image: url(assets/bar-images/kind-6.jpg);"></div>
            <h3>Whiskey</h3>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row p-5">
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate fadeInUp ftco-animated">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-1.jpg);">
                    <!-- <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div> -->
                </div>
                <div class="text text-center">
                    <span class="sale">Sale</span>
                    <span class="category">Brandy</span>
                    <h2>Bacardi 151</h2>
                    <p class="mb-0"><span class="price price-sale">$69.00</span> <span class="price">$49.00</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate fadeInUp ftco-animated">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-2.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="seller">Best Seller</span>
                    <span class="category">Gin</span>
                    <h2>Jim Beam Kentucky Straight</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate fadeInUp ftco-animated">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-3.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="new">New Arrival</span>
                    <span class="category">Rum</span>
                    <h2>Citadelle</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate fadeInUp ftco-animated">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-4.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="category">Rum</span>
                    <h2>The Glenlivet</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-5.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="category">Whiskey</span>
                    <h2>Black Label</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-6.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="category">Tequila</span>
                    <h2>Macallan</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-7.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="category">Vodka</span>
                    <h2>Old Monk</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="product ftco-animate">
                <div class="img d-flex align-items-center justify-content-center"
                    style="background-image: url(assets/bar-images/prod-8.jpg);">
                    <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div>
                </div>
                <div class="text text-center">
                    <span class="category">Whiskey</span>
                    <h2>Jameson Irish Whiskey</h2>
                    <span class="price">$69.00</span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Services We Provide Start -->
  <section class="section bg-light element-animate fadeInUp element-animated pt-3">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-cheers display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Drinks</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi,
                    reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-fish display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Sea Foods</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi,
                    reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-coffee-cup display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Cup Coffees</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi,
                    reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-salad display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Fresh Salad</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi,
                    reprehenderit, nobis officia.</p>
            </div>
        </div>
    </div>
  </section>
  <!-- Services We Provide End -->
</section>
