<div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">Featuring Bar</span>
        <h2 class="fs-5 mb-0">Explore drinks including organic wines</h2>
    </div>
</div>

<!-- Services We Provide Start -->
<section class="section bg-light element-animate fadeInUp element-animated p-5">
    <div class="container bar-category-container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <i class="fa-solid fa-wine-glass fs-1 mb-4"></i>
                <h4 class="mb-4 primary-dark">Premium Drinks</h4>
                <p>Featuring all popular Drinks including Classics , Premium and Organic wines.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <i class="fa-solid fa-utensils fs-1 mb-4"></i>
                <h4 class="mb-4 primary-dark">Quality Foods</h4>
                <p>Most of the popular sea food availaible on demand.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <i class="fa-solid fa-music fs-1 mb-4"></i>
                <h4 class="mb-4 primary-dark">Music</h4>
                <p>Our in house Caffeteria offers wide range of products.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <i class="fa-solid fa-bong fs-1 mb-4"></i>
                <h4 class="mb-4 primary-dark">Hookah</h4>
                <p>Include fresh Salad to your day.</p>
            </div>
        </div>
    </div>
</section>
<!-- Services We Provide End -->
<section id="section-bar">
    <section class="ftco-section">
        <div class="container">
            <div class="row px-5">
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-1.jpg);"></div>
                        <!-- <img class="img" src="img/kind-1.jpg"> -->
                        <h3>Brandy</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-2.jpg);"></div>
                        <h3>Gin</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-3.jpg);"></div>
                        <h3>Rum</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-4.jpg);"></div>
                        <h3>Tequila</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-5.jpg);"></div>
                        <h3>Vodka</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 ">
                    <div class="sort w-100 text-center ftco-animate fadeInUp ftco-animated">
                        <div class="img" style="background-image: url(assets/bar-images/kind-6.jpg);"></div>
                        <h3>Whiskey</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container">
        <div class="row p-5">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate fadeInUp ftco-animated">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-1.jpg);">
                        <!-- <div class="desc">
                        <p class="meta-prod d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-shopping-bag"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-heart"></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span
                                    class="flaticon-visibility"></span></a>
                        </p>
                    </div> -->
                    </div>
                    <div class="text text-center">
                        <span class="sale">Sale</span>
                        <span class="category">Brandy</span>
                        <h2>Bacardi 151</h2>
                        <p class="mb-0"><span class="price price-sale">₹69.00</span> <span class="price">₹49.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate fadeInUp ftco-animated">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-2.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="seller">Best Seller</span>
                        <span class="category">Gin</span>
                        <h2>Jim Beam Kentucky Straight</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate fadeInUp ftco-animated">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-3.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="new">New Arrival</span>
                        <span class="category">Rum</span>
                        <h2>Citadelle</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate fadeInUp ftco-animated">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-4.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Rum</span>
                        <h2>The Glenlivet</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-5.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Whiskey</span>
                        <h2>Black Label</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-6.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Tequila</span>
                        <h2>Macallan</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-7.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Vodka</span>
                        <h2>Old Monk</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                        style="background-image: url(assets/bar-images/prod-8.jpg);">
                        <div class="desc">
                            <p class="meta-prod d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-shopping-bag"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-heart"></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="flaticon-visibility"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="text text-center">
                        <span class="category">Whiskey</span>
                        <h2>Jameson Irish Whiskey</h2>
                        <span class="price">₹69.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



<!-- Menu -->
<section class="container">
<!--  List Menu STart -->

<div class="container menu_container" id="menu" #menu>
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">Specialities</span>
        <h2 class="mb-4">Our Menu</h2>
      </div>
    </div>
    <ul class="filters_menu">
      <li data-filter="*" (click)="filterMenu('FEATURED')" [ngClass]="{'active': filterOption=='FEATURED'}"
        class="my-1">
        FEATURED</li>
        
      <li data-filter=".pasta" (click)="filterMenu('Signature')" [ngClass]="{'active': filterOption=='Signature'}" class="my-1">
        TARCON SIGNATURE</li>
      <li data-filter=".burger" (click)="filterMenu('Cocktails')" [ngClass]="{'active': filterOption=='Cocktails'}"
        class="my-1">COCKTAILS</li>
      <li data-filter=".pizza" (click)="filterMenu('Mocktails')" [ngClass]="{'active': filterOption=='Mocktails'}"
        class="my-1">
        MOCKTAILS</li>
      <li data-filter=".pasta" (click)="filterMenu('Whisky')" [ngClass]="{'active': filterOption=='Whisky'}"
        class="my-1">
        WHISKY</li>

      <li data-filter=".pasta" (click)="filterMenu('OTHERS')" [ngClass]="{'active': filterOption=='OTHERS'}"
        class="my-1">OTHERS</li>

    </ul>
    <div class="row first-menu-container">

      <!-- mocktail -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Mocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>mocktail</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of mocktail">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

       <!-- vodkabasedCocktails -->
       <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Cocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>VODKA BASED COCKTAILS</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of vodkabasedCocktails">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- ginBasedCocktails -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Cocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>GIN BASED COCKTAILS</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of ginBasedCocktails">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- whiskyBasedCocktails -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Cocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>WHISKY BASED COCKTAILS</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of whiskyBasedCocktails">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- winebasedCocktails -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Cocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>WINE BASED COCKTAILS</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of winebasedCocktails">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- rumBasedCocktail -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Cocktails'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>RUM BASED COCKTAILS</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of rumBasedCocktail">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>


      <!-- superDeluxeScotchWhisky -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Whisky'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>SUPER DELUXE SCOTCH WHISKY</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of superDeluxeScotchWhisky">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- blendedScotchWhisky -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Whisky'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>BELNDED SCOTCH WHISKY</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of blendedScotchWhisky">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- premiumDeluxeWhisky -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Whisky'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>PREMIUM DELUXE WHISKY</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of premiumDeluxeWhisky">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- tarconBarSignature -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'Signature'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>TARCON BAR SIGNATURE</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of tarconBarSignature">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>


      
      <!-- wine -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>WINE</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of wine">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- vodka -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>VODKA</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of vodka">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>


      <!-- beer -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>BEER</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of beer">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

       <!-- rum -->
       <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>RUM</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of rum">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>

      <!-- brandy -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>BRANDY</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of brandy">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>
      

      <!-- gin -->
      <div class="col-md-6 col-lg-4" *ngIf="filterOption == 'FEATURED' || filterOption == 'OTHERS'">
        <div class="menu-wrap">
          <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
            <h3>GIN</h3>
          </div>
          <div class="menus d-flex ftco-animate fadeInUp ftco-animated align-items-center"
            *ngFor="let item of gin">
            <div class="menu-img img options-blue">
              <i class="fa fa-cocktail text-white fa-1x"></i>
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{item.name | uppercase}}</h3>
                </div>
                <div class="one-forth ms-auto">
                  <span class="price">₹{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <span class="flat flaticon-bread" style="left: 0;"></span>
          <span class="flat flaticon-breakfast" style="right: 0;"></span>
        </div>
      </div>



      <!-- row end -->
    </div>
  </div>
</section>