.tarcon-hr{
    border-color: #795548;
    width: 50%;
    margin: auto;
}
.gallery-container{
    height: 500px;
}
.category-title{
    font-family: "Playfair Display", serif;
    color: #9c7c45;
    background: #fff6e7;
    width: fit-content;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.category-filter-container{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffeed1;
}
.category-filter div{
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10px;
}
.category-filter div:hover{
    background-color: #ffffff88;
}
.category-filter div.active{
    background: white;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.category-details-container .title{
    font-family: "Playfair Display", serif;
    color: #2a2a2a;
    font-size: 1.3rem;
}
.features-container div{
    display: flex;
    min-width: fit-content;
    min-height: 3rem;
    max-height: fit-content;
    align-items: center;
    gap: .3rem;
    border: 1px solid #cb9c4bde;
    font-size: .8rem;
    flex: 1;
}
.features-container i{
    color: #cb9c4b;
}



//CHECKOUT WINDOW
.checkout-title{
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display';
    color: #795548;
}


// PRICE CONTAINER
.price-container{
    
}
.total-cost, .plan-title{
    font-family: 'Playfair Display', sans-serif;
    color: #795548;
    font-size: 1.5rem;
}
.price-tag{
    background: -webkit-linear-gradient(342deg,#ffb532, #7c2600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.dark-title-cursive{
    font-family: serif;
    color: #795548;
    font-size: 1.3rem;
}
.from-to-container{
    border:1px solid #795548;
    padding: 1rem 0rem;
}

.from-to-container div:last-child{
    border-color: 1px solid #795548 !important;
}


.form-check.plan-radio{
	padding: 0.5rem 1rem;
    border-bottom: 1px solid #eeeeee;
}

.form-check.plan-radio.active{
	background-color: #f8f8f8;
}
.label-container i, .plan-icons-container i{
    color: #cb9c4b;
}

.plan-icons-container{
    background: #fffaf2;
    z-index: 2;
}
.plan-container.active{
    background-color: #965e000f;
}

.text-primary-dark{
    color: #cb9c4b;
}


@media screen and (max-width: 600px) {
    .category-filter div{
        height: 40px;
    }
    .category-filter div.active{
        box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 15%);
    }

    .gallery-container{
        height: 500px;
    }
  }



  ::ng-deep .mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    color: rgb(0 0 0 / 19%);
    text-decoration: line-through;
}



//FOR ADDITIONAL PLAN MODULE
.plan-cost{
    font-size: .7rem;
}


.checkout-form{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    z-index: 200;
    animation: slideIn .6s ease;
    overflow-y: scroll;
    padding-bottom: 2rem;

    .checkout-header,
    .checkout-footer{
        z-index: 201;
        background-image: linear-gradient(141deg, rgb(255, 248, 235), rgb(255, 236, 204));
    }
}
@keyframes slideIn{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0);
    }
}

.half-opacity{
    opacity: .5;
}
.checkout-table{
    @media (max-width:768px) {
        
        display: flex;
        justify-content: space-between;
        thead,tbody{
            width: 50%;
        }
        thead{
            background-color: transparent !important;
        }
        tbody{
            text-align: end;
        }
        tr{
            display: flex;
            flex-flow: column;
        }
        th{
            font-weight: 500;
        }
    }
}




//OPTIONAL PLANS - MAP

.map-checkbox:checked{
    background-color: #1b8855;
    border-color: #7aba9c;
}

.map-checkbox:focus{
    box-shadow: 0 0 0 0.25rem rgba(165, 255, 149, 0.25);
    border-color: #abfe86;
}
