<section id="section-hotel" class="container-fluid">
  <div class="container-fluid px-0 px-md-2 mb-5">


    <div class="container">
      <div class="row">

        <!-- HOTEL CATEGORY INFO CONTAINER -->
        <div class="col-12 col-lg-8">

          <!-- CATEGORY FILTER CONTAINER -->
          <div class="container category-filter-container tarcon-gradient-bg mb-2 px-4 py-1">
            <div class="row category-filter">
              <div (click)="changeCategory(1); child.changeGalleryCategory(1)"
                [ngClass]="{'active' : selectedCategory == 1}"
                class="col-6 col-lg-3 p-3 p-lg-2 d-flex gap-2 text-uppercase justify-content-center align-items-center category-filter-link">
                <i class="fa-solid fa-mug-hot text-primary"></i>
                Standard
              </div>
              <div (click)="changeCategory(2); child.changeGalleryCategory(2)"
                [ngClass]="{'active' : selectedCategory == 2}"
                class="col-6 col-lg-3 p-3 p-lg-2 d-flex gap-2 text-uppercase justify-content-center align-items-center category-filter-link">
                <i class="fa-solid fa-bowl-rice text-primary"></i>
                Suite
              </div>
              <div (click)="changeCategory(3); child.changeGalleryCategory(3)"
                [ngClass]="{'active' : selectedCategory == 3}"
                class="col-6 col-lg-3 p-3 p-lg-2 d-flex gap-2 text-uppercase justify-content-center align-items-center category-filter-link">
                <i class="fa-solid fa-mountain-sun text-primary"></i>
                Hill View
              </div>
              <div (click)="changeCategory(4); child.changeGalleryCategory(4)"
                [ngClass]="{'active' : selectedCategory == 4}"
                class="col-6 col-lg-3 p-3 p-lg-2 d-flex gap-2 text-uppercase justify-content-center align-items-center category-filter-link">
                <i class="fa-solid fa-tv text-primary"></i>
                Deluxe
              </div>
            </div>
          </div>

          <!-- CATEGORY WISE GALLERY -->
          <div class="container gallery-container px-0">
            <app-gallery-slider #child></app-gallery-slider>
          </div>


          <!-- CATEGORY DETAILS CONTAINER -->
          <div class="contanier category-details-container">

            <!-- FEATURES CONTAINER -->
            <!-- Suite Features -->
            <div *ngIf="openTab == 2" class="row my-5 gap-2">
              <h1 class="title">Suite Features</h1>
              <div class="row gap-2 row-cols-6 mx-0 px-3 features-container">
                <div class="col">
                  <i class="fa-solid fa-couch"></i>
                  Sitting Area
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  King Size Bed
                </div>
                <div class="col">
                  <i class="fa-solid fa-tv"></i>
                  Smart TV
                </div>
                <div class="col">
                  <i class="fa-solid fa-wifi"></i>
                  Internet Access - WiFi
                </div>
                <div class="col">
                  <i class="fa-solid fa-mug-hot"></i>
                  Tea / Coffee Set
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  Wardrobe
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  24/7 Room Service
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Extra Bed <span class="text-muted">(Extra charge)</span>
                </div>
                <div class="col">
                  <i class="fa-solid fa-bolt"></i>
                  Iron, Dryer, Heater, Trimmer <span class="text-muted">(Extra charge)</span>
                </div>
              </div>
            </div>

            <!-- Hill View Features -->
            <div *ngIf="openTab == 3" class="row my-5 gap-2">
              <h1 class="title">Hill View Features</h1>
              <div class="row gap-2 row-cols-6 mx-0 px-3 features-container">
                <div class="col">
                  <i class="fa-solid fa-couch"></i>
                  Sitting Area
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Queen Size Bed
                </div>
                <div class="col">
                  <i class="fa-solid fa-tv"></i>
                  Smart TV
                </div>
                <div class="col">
                  <i class="fa-solid fa-wifi"></i>
                  Internet Access - WiFi
                </div>
                <div class="col">
                  <i class="fa-solid fa-mug-hot"></i>
                  Tea / Coffee Set
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  Wardrobe
                </div>
                <div class="col">
                  <i class="fa-solid fa-mountain-sun"></i>
                  Scenic View
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  24/7 Room Service
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Extra Bed <span class="text-muted">(Extra charge)</span>
                </div>
                <div class="col">
                  <i class="fa-solid fa-bolt"></i>
                  Iron, Dryer, Heater, Trimmer <span class="text-muted">(Extra charge)</span>
                </div>
              </div>
            </div>
            
            <!-- Deluxe Features -->
            <div *ngIf="openTab == 4" class="row my-5 gap-2">
              <h1 class="title">Deluxe Features</h1>
              <div class="row gap-2 row-cols-6 mx-0 px-3 features-container">
                <div class="col">
                  <i class="fa-solid fa-couch"></i>
                  Sitting Area
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Queen Size Bed
                </div>
                <div class="col">
                  <i class="fa-solid fa-tv"></i>
                  Smart TV
                </div>
                <div class="col">
                  <i class="fa-solid fa-wifi"></i>
                  Internet Access - WiFi
                </div>
                <div class="col">
                  <i class="fa-solid fa-mug-hot"></i>
                  Tea / Coffee Set
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  Wardrobe
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  24/7 Room Service
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Extra Bed <span class="text-muted">(Extra charge)</span>
                </div>
                <div class="col">
                  <i class="fa-solid fa-bolt"></i>
                  Iron, Dryer, Heater, Trimmer <span class="text-muted">(Extra charge)</span>
                </div>
              </div>
            </div>

            <!-- Standard Features -->
            <div *ngIf="openTab == 1" class="row my-5 gap-2">
              <h1 class="title">Standard Features</h1>
              <div class="row gap-2 row-cols-6 mx-0 px-3 features-container">
                <div class="col">
                  <i class="fa-solid fa-couch"></i>
                  Sitting Area
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Queen Size Bed
                </div>
                <div class="col">
                  <i class="fa-solid fa-tv"></i>
                  Smart TV
                </div>
                <div class="col">
                  <i class="fa-solid fa-wifi"></i>
                  Internet Access - WiFi
                </div>
                <div class="col">
                  <i class="fa-solid fa-mug-hot"></i>
                  Tea / Coffee Set
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  Wardrobe
                </div>
                <div class="col">
                  <i class="fa-solid fa-clock"></i>
                  24/7 Room Service
                </div>
                <div class="col">
                  <i class="fa-solid fa-bed"></i>
                  Extra Bed <span class="text-muted">(Extra charge)</span>
                </div>
                <div class="col">
                  <i class="fa-solid fa-bolt"></i>
                  Iron, Dryer, Heater, Trimmer <span class="text-muted">(Extra charge)</span>
                </div>
              </div>
            </div>



            <!-- <hr class="hr-class"> -->

            <!-- DESCRIPTION CONTAINER -->
            <!-- <div class="row my-5 gap-2">
              <h1 class="title">Description</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, libero tempora quo et magnam beatae
                reprehenderit inventore ex qui quidem.</p>
            </div> -->
          </div>

        </div>
        <!-- END HOTEL CATEGORY INFO CONTAINER -->


        <!-- RIGHT CONTAINER -->
        <div class="col-12 col-lg-4 px-0 px-md-2">

          <h1 class="checkout-title">Checkout</h1>


          <!-- CALENDAR CONTAINER -->
          <div class="container px-0 my-3">
            <mat-card>
              <mat-calendar [dateFilter]="disableDateFilter" [selected]="selectedRangeValue"
                (selectedChange)="selectedChange($event)" [minDate]="yesterday"></mat-calendar>
            </mat-card>
          </div>

          <!-- UNHIDE OP PLANS, SUMMARY, PRICE DETAILS IF DATE SELECTED-->
          <div class="container px-0 px-md-2">

            <!-- FROM TO CONTAINER -->
            <div class="container mb-5">

              <div class="row from-to-container" *ngIf="!selectedRangeValue.start && !selectedRangeValue.end">
                <div class="col-12 text-center d-flex flex-column align-content-center">
                  <p class="mb-0">Please select your date</p>
                  <p class="dark-title-cursive mb-0">On / From - To</p>
                </div>
              </div>

              <div class="row from-to-container" *ngIf="selectedRangeValue.start && noOfDaysSelected <= 1">
                <div class="col-12 text-center d-flex flex-column align-content-center">
                  <p class="mb-0">ON</p>
                  <p class="dark-title-cursive mb-0">{{selectedRangeValue.start | date:'d MMM y'}}</p>
                </div>
              </div>

              <div class="row from-to-container"
                *ngIf="selectedRangeValue.start && selectedRangeValue.end && noOfDaysSelected > 1">
                <div class="col-6 text-center d-flex flex-column align-content-center">
                  <p class="mb-0">FROM</p>
                  <p class="dark-title-cursive mb-0">{{selectedRangeValue.start | date:'d MMM y'}}</p>
                </div>
                <div class="col-6 text-center d-flex flex-column align-content-center border-start">
                  <p class="mb-0">TO</p>
                  <p class="dark-title-cursive mb-0">{{selectedRangeValue.end | date:'d MMM y'}}</p>
                </div>
              </div>
            </div>


            <!-- WARNING - DO NOT REMOVE COMMENTED CODES -->

            <!-- EP, CP, AP, PLAN CONTAINER -->
            <!-- <div class="container my-5">
              <div class="row">

                <h1 class="plan-title text-center px-4 mb-">Meal Plans</h1>
                <p class="plan-cost text-center mb-3">BREAKFAST &nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;
                  LUNCH &nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; DINNER</p>

                <div class="container plan-icons-container shadow-sm py-3">
                  <div class="row justify-content-between px-4">
                    <div class="col-5 col-lg-4 text-primary-dark"><small><b>MEAL</b></small></div>
                    <div class="col px-0"><small><i class="fa-solid fa-bread-slice"></i></small></div>
                    <div class="col px-0"><small><i class="fa-solid fa-burger"></i></small></div>
                    <div class="col px-0"><small><i class="fa-solid fa-utensils"></i></small></div>
                    <div class="col-1 px-0"></div>
                  </div>
                </div>


                <label class="container plan-container py-3" [ngClass]="{'active' : selectedPlan == 1}" for="epPlan">
                  <div class="row justify-content-between px-4">
                    <div class="col-5 col-lg-4 d-flex align-items-center gap-2">EP<small
                        class="plan-cost">(+ ₹300)</small></div>
                    <div class="col px-0">
                      <small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small>
                    </div>
                    <div class="col px-0">
                      <small>
                        <i class="fa-solid fa-xmark text-danger"></i>
                      </small>
                    </div>
                    <div class="col px-0">
                      <small>
                        <i class="fa-solid fa-xmark text-danger"></i>
                      </small>
                    </div>
                    <div class="col-1 px-0 text-end">
                      <input class="form-check-input opPlanRadio" type="radio" name="opPlanRadio" id="epPlan" value="1"
                        (click)="changePlan(1)">
                    </div>
                  </div>
                </label>

                <label class="container plan-container py-3" [ngClass]="{'active' : selectedPlan == 2}" for="cpPlan">
                  <div class="row justify-content-between px-4" for="cpPlan">
                    <div class="col-5 col-lg-4 d-flex align-items-center gap-2">CP<small
                        class="plan-cost">(+ ₹500)</small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-xmark text-danger"></i>
                      </small></div>
                    <div class="col-1 px-0 text-end">
                      <input class="form-check-input opPlanRadio" type="radio" name="opPlanRadio" id="cpPlan" value="2"
                        (click)="changePlan(2)">
                    </div>
                  </div>
                </label>

                <label class="container plan-container py-3" [ngClass]="{'active' : selectedPlan == 3}" for="apPlan">
                  <div class="row justify-content-between px-4" for="apPlan">
                    <div class="col-5 col-lg-4 d-flex align-items-center gap-2">AP<small
                        class="plan-cost">(+ ₹1000)</small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small></div>
                    <div class="col px-0"><small>
                        <i class="fa-solid fa-check text-success"></i>
                      </small></div>
                    <div class="col-1 px-0 text-end">
                      <input class="form-check-input opPlanRadio" type="radio" name="opPlanRadio" value="3" id="apPlan"
                        (click)="changePlan(3)">
                    </div>
                  </div>
                </label>

                <label class="container plan-container py-3 map-plan-label" [ngClass]="{'active' : selectedPlan == 4}"
                  for="mapPlan">
                  <div class="row justify-content-between px-4" for="mapPlan">
                    <div class="col-5 col-lg-4 d-flex align-items-center gap-2">MAP<small
                        class="plan-cost">(+ ₹1000)</small></div>

                    <div class="col px-0 map-li" (click)="changePlan(4)">
                      <input type="checkbox" id="breakfast" value="1" class="form-check-input map-checkbox"
                        [(ngModel)]="OpPlanDetails[3].opSelection.breakfast">
                    </div>
                    <div class="col px-0 map-li" (click)="changePlan(4)">
                      <input type="checkbox" id="lunch" value="2" class="form-check-input map-checkbox"
                        [(ngModel)]="OpPlanDetails[3].opSelection.lunch">
                    </div>
                    <div class="col px-0 map-li" (click)="changePlan(4)">
                      <input type="checkbox" id="dinner" value="3" class="form-check-input map-checkbox"
                        [(ngModel)]="OpPlanDetails[3].opSelection.dinner">
                    </div>


                    <div class="col-1 px-0 text-end">
                      <input class="form-check-input opPlanRadio" type="radio" name="opPlanRadio" value="4" id="mapPlan"
                        (click)="changePlan(4)">
                    </div>
                  </div>
                </label>
                <small class="text-danger px-4 text-end" *ngIf="selectedPlan == 4 && mapCount < 2"><small>Select at
                    least 2 option.</small></small>
              </div>
            </div> -->


            <!-- PRICE SUMMARY -->
            <div class="container mt-5 mb-3 mx-0 px-0 border-bottom">
              <h1 class="plan-title text-center px-4 mb-3">Summary</h1>

              <div class="row container mx-0 plan-icons-container shadow-sm py-3 px-2 px-md-4">
                <div class="col text-primary-dark">
                  <small><b>ITEMS</b></small>
                </div>
                <div class="col text-end text-primary-dark">
                  <small><b>PRICE</b></small>
                </div>
              </div>

              <div class="container price-summary-container">
                <div class="row px-2 px-md-4 py-2">
                  <div class="col">
                    <small>{{selectedRoomDetails.categoryName}} Room</small><br>
                    <small><small class="text-muted"> ( x{{noOfDaysSelected <= 0 ? 1 : noOfDaysSelected}}
                          Day{{noOfDaysSelected <=0 ? '' : 's' }} ) </small></small>
                  </div>
                  <div class="col text-end">
                    <small><del>₹{{totalCost + totalCost * 0.1}}</del>
                      ₹{{totalCost}}</small>
                    <br>
                    <small><small class="text-muted"> ( Flat 10% Off ) </small></small>
                  </div>
                </div>

                <!-- MEAL PLAN - REMOVED -->
                <!-- <div class="row px-2 px-md-4 py-2">
                  <div class="col">
                    <small>Meal Plan ({{selectedOpPlanDetails.opName}})</small><br>
                    <small><small class="text-muted"> ( x{{noOfDaysSelected <= 0 ? 1 : noOfDaysSelected}}
                          Day{{noOfDaysSelected <=0 ? '' : 's' }} ) </small></small>
                  </div>
                  <div class="col text-end">
                    <small>₹{{selectedOpPlanDetails.opAmount * (noOfDaysSelected <= 0 ? 1 : noOfDaysSelected)}}</small>
                  </div>
                </div> -->

                <div class="row px-2 px-md-4 py-2">
                  <div class="col">
                    <small>GST & Other Charges<br><small class="text-muted">( {{TAX == 0.12 ? '12%' : '18%'}}
                        )</small></small>
                  </div>
                  <div class="col text-end">
                    <small>₹{{totalCost * TAX}}</small>
                  </div>
                </div>
              </div>


            </div>

            <!-- PRICE CONTAINER -->
            <div class="row flex-row gap-2 mb-5 justify-content-between align-items-center">

              <div class="col-5 d-flex flex-column justify-content-center ps-4">
                <h1 class="mb-0 total-cost ps-2 ps-md-4">Total Cost</h1>
                <p class="my-0 ms-1 ps-2 ps-md-4"><small>incl. all charges.</small></p>
              </div>

              <div class="col-6 pe-3 pe-md-4">
                <div class="container price-container text-center">
                  <h1 class="price-tag float-end mb-0 text-nowrap">₹ {{ totalCostWithTax }}/-</h1>
                </div>
              </div>


            </div>

            <!-- CHECKOUT BUTTON -->
            <div class="container px-2">
              <button class="btn btn-primary w-100 py-3"
                [disabled]="isLoading || (selectedPlan == 4 && mapCount < 2) || !(selectedRangeValue.start || selectedRangeValue.end)"
                (click)="loadingBtnAnimate()">
                <i class="fa me-2" [ngClass]="isLoading ? 'fa-spin fa-circle-notch' : 'fa-regular fa-money-bill-1'"></i>
                <b>{{checkOutBtn}}</b>
              </button>

              <div class="container text-end">
                <p class="mb-0" *ngIf="selectedPlan == 4 && mapCount < 2">
                  <small class="text-danger">* Optional Plan required.</small>
                </p>
                <p class="mb-0" *ngIf="!(selectedRangeValue.start || selectedRangeValue.end)">
                  <small class="text-danger">* Date required.</small>
                </p>
              </div>
            </div>

          </div>


        </div>
        <!-- END RIGHT CONTAINER -->

      </div>
    </div>


  </div>
</section>

<div class="checkout-form overflow-y-scroll" *ngIf="checkOutForm">

  <div class="custom-loader m-0 p-0" *ngIf="paymentStateStarted">
    <i class="fa fa-spin fa-circle-notch fs-4 m-0 p-0 text-white"></i>
  </div>

  <!-- HEADER -->
  <div class="container-fluid position-fixed checkout-header px-4 py-3 py-md-3 mb-5 shadow-sm bg-white text-primary">
    <div class="container d-flex justify-content-between align-items-center">
      <h2 class="my-0">Checkout</h2>
      <i class="fa fa-x my-0" (click)="closeCheckOutForm()"></i>
    </div>
  </div>

  <!-- CHECKOUT FORM ACCORDION -->
  <div class="container my-5 pt-4 pb-3 py-md-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">

      <!-- ORDER SUMMARY -->
      <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center half-opacity" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"
            disabled>
            <i class="fa-solid fa-circle-check text-success me-2"></i>
            <b>Order Summary</b>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <table class="table table-sm checkout-table">
              <thead class="text-muted">
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Total Days</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{selectedRoomDetails.categoryName}}</th>
                  <td>{{tempFromDate}}</td>
                  <td>{{tempTodate}}</td>
                  <td>{{noOfDaysSelected <= 0 ? 1 : noOfDaysSelected}} Day{{noOfDaysSelected <=0 ? '' : 's' }}</td>
                  <td>₹ {{totalCostWithTax}}/-</td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>

      <!-- CONTACT DETAILS -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button" [ngClass]="!contactInfoComplete ? '':' collapsed'" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo" (click)="onContactInfoSubmit(); contactInfoComplete = false;">
            <i class="fa-solid me-2"
              [ngClass]="contactInfoComplete ? 'fa-circle-check text-success':'fa-hourglass-end text-warning'"></i>
            <b>Contact Details</b>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
          [ngClass]="!contactInfoComplete ? 'show':''" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <!-- FORM CONTAINER -->
            <div class="container">


              <!--------------------------- CONTACT INFO FORM -------------------------->

              <form [formGroup]="form" (ngSubmit)="onContactInfoSubmit()" class="row gy-3">
                <!-- FULL NAME -->
                <div class="form-group col-12 col-md-6 col-xl-4">
                  <input type="text" placeholder="Full Name" formControlName="fullname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" />
                  <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                    <div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
                  </div>
                </div>
                <!-- EMAIL -->
                <div class="form-group col-12 col-md-6 col-xl-4">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text h-100">
                        <i class="fa-solid fa-envelope text-muted"></i>
                      </span>
                    </div>

                    <input type="text" placeholder="Email Address" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">Email is required</div>
                      <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                    </div>
                  </div>

                </div>
                <!-- PHONE -->
                <div class="form-group col-12 col-md-6 col-xl-4">

                  <div class="input-group">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text h-100">
                        <i class="fa-solid fa-phone text-muted"></i>
                      </span>
                    </div> -->

                    <ngx-intl-tel-input [maxLength]="10" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                      [searchCountryFlag]="true" [phoneValidation]="true" [selectedCountryISO]="CountryISO.India"
                      [customPlaceholder]="'XXXXXXXXXX'" [separateDialCode]="true" formControlName="phone"
                      [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                    </ngx-intl-tel-input>

                    <!-- <input type="tel" placeholder="Phone Number" formControlName="phone" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" /> -->



                    <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                      <div *ngIf="f['phone'].errors['required']">
                        Phone number is required
                      </div>
                      <div *ngIf="f['phone'].errors['phone']">Phone Number is invalid</div>
                      <div
                        *ngIf="f['phone'].errors['minlength'] || f['phone'].errors['maxlength'] || f['phone'].errors['validatePhoneNumber']">
                        Phone number needs to be exactly 10
                      </div>
                    </div>
                  </div>

                </div>
                <!-- TOTAL PERSON -->
                <div class="form-group col-12 col-md-6 col-xl-4">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text h-100">
                        <i class="fa-solid fa-user text-muted"></i>
                      </span>
                    </div>
                    <input type="number" placeholder="Total No. of Person" formControlName="totalperson"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f['totalperson'].errors }" />
                    <div *ngIf="submitted && f['adults'].errors" class="invalid-feedback">
                      <div *ngIf="f['adults'].errors['required']">
                        Total No. of Person is required
                      </div>
                      <div *ngIf="f['adults'].errors['adults']">
                        Total Person is invalid
                      </div>
                      <div *ngIf="f['adults'].errors['max']">
                        Maximum 50 Person Allowed
                      </div>
                    </div>
                  </div>

                </div>
                <!-- CHILDREN -->
                <div class="form-group col-12 col-md-6 col-xl-4">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text h-100">
                        <i class="fa-solid fa-child text-muted"></i>
                      </span>
                    </div>
                    <input type="number" min="0" max="5" placeholder="Total No. of Childrens" formControlName="children"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f['children'].errors }" />
                    <div *ngIf="submitted && f['children'].errors" class="invalid-feedback">
                      <div *ngIf="f['children'].errors['required']">
                        Total No. of Children is required
                      </div>
                      <div *ngIf="f['children'].errors['children']">
                        Total Children is invalid
                      </div>
                      <div *ngIf="f['children'].errors['max']">
                        Maximum 50 Children Allowed
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group d-flex gap-2 col-12 justify-content-end">
                  <button type="button" (click)="onReset()" class="btn btn-light">
                    Clear
                  </button>
                  <button type="submit" class="btn btn-primary">Save & Proceed</button>
                </div>

              </form>

            </div>

          </div>
        </div>
      </div>

      <!-- PAYMENT -->
      <div class="accordion-item" [ngClass]="{'half-opacity' : !contactInfoComplete}">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button" [ngClass]="!contactInfoComplete ? 'collapsed':''" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree" [disabled]="!contactInfoComplete">
            <i class="fa-solid me-2"
              [ngClass]="contactInfoComplete ? 'fa-circle-check text-success':'fa-hourglass-end text-warning'"></i>
            <b>Payment Options</b>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
          [ngClass]="{'show' : contactInfoComplete}" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">

            <div class="container">
              <div class="row">
                <div class="col-12">

                  <div class="form-check d-flex align-items-center justify-content-center gap-2">
                    <input class="form-check-input" type="radio" name="razorpayRadio" id="razorpayRadio" checked>
                    <label class="form-check-label d-flex flex-wrap justify-content-center gap-2" for="razorpayRadio">

                      <img src="assets/payment-logos/upi.svg" width="65">
                      <img src="assets/payment-logos/visa.svg" width="50">
                      <img src="assets/payment-logos/mastercard.svg" width="50">
                      <img src="assets/payment-logos/gpay.svg" width="30">
                      <img src="assets/payment-logos/phonepe.svg" width="30">
                      <img src="assets/payment-logos/paytm.svg" width="50">


                    </label>


                  </div>

                  <p class="text-muted text-center small"><small>powered by Razorpay</small></p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- CHECKOUT FORM ACCORDION END-->

  <!-- FOOTER -->
  <div class="container-fluid checkout-footer p-2 position-fixed bottom-0 bg-white shadow mt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="row">
            <p class="mb-0 text-muted"><small>You are paying</small></p>
          </div>
          <div class="row">
            <h4 class="mb-0 text-primary">₹ {{totalCostWithTax}}/-</h4>
          </div>
        </div>
        <div class="col"><button class="btn float-end py-2 py-md-3 w-100" [disabled]="!contactInfoComplete"
            [ngClass]="!contactInfoComplete ? 'btn-secondary' : 'btn-primary'" (click)="createOrder()">Pay Now</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-ordersuccess *ngIf="showingInvoice" (childTrigger)="closeInvoice()"
  [expectedSuccessRes]="successResponse"></app-ordersuccess>