<ngx-ui-loader></ngx-ui-loader>
<app-navbar></app-navbar>
<app-slider></app-slider>
<!-- <app-faq></app-faq> -->
<router-outlet></router-outlet>

<a href="https://wa.me/7449506745" aria-label="Chat on WhatsApp" class="whatsapp-icon align-items-center d-flex" target="_blank">
    <i class="fa-brands fa-whatsapp fa-3x text-green" aria-hidden="true"></i>
</a>
<app-footer></app-footer>
<!-- <app-privacypolicy></app-privacypolicy> -->
<!-- <app-termsandconditions></app-termsandconditions> -->
<!-- <app-refundpolicy></app-refundpolicy> -->