.whatsapp-icon{
    position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 999999; /* Make sure it does not overlap */
  background-color: teal; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 8px; /* Rounded corners */
  text-decoration: none !important;
}

@media (max-width: 1200px) {
    .whatsapp-icon {
        bottom: 50px;
        right: 5%;
    }
}
