<!-- Browse Categories Start -->
<section id="section-service">
    <div class="container rounded shadow-sm overflow-hidden">


        <div class="row rounded overflow-hidden">
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-hotel category-img"></i>
                <h6>Hotel</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-utensils category-img"></i>
                <h6>Restaurant</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-bong category-img"></i>
                <h6>Hookah Bar</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-wine-glass category-img"></i>
                <h6>Organic Wine</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-socks category-img"></i>
                <h6>Laundry</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-taxi category-img"></i>
                <h6>Cab Booking</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-map-location-dot category-img"></i>
                <h6>Travel Assist</h6>
            </div>
            <div class="col-6 col-md-3 cards gap-2 d-flex flex-column p-4 bg-white align-items-center">
                <i class="fa-solid fa-user-doctor category-img"></i>
                <h6>Medical Assist</h6>
            </div>

        </div>



    </div>
</section>
<!-- Browse Categories End -->