<!-- <div class="card text-center" style="width: 40rem;">
  <div class="col-6">
    <input type="text" class="form-control form-control-lg my-2" placeholder="Booking or Payment Number">
    <input type="email" class="form-control form-control-lg" placeholder="Email Address">
  </div>

</div> -->

<div class="text-center">
  <h2>Find Your Reservations</h2>
</div>
<div class="container d-flex justify-content-center">
  <div class="card w-50 w-sm-50 py-2">
    <div class="container">
      <div class="card-body text-center">
        <h5>WITH BOOKING NUMBER OR PAYMENT NUMBER</h5>
      </div>
      <div class="mx-auto">
        <input type="text" class="form-control form-control-lg mt-0 mb-3" placeholder="Booking or Payment Number">
        <input type="email" class="form-control form-control-lg" placeholder="Email Address">
      </div>
      <div class="text-end mt-3">
        <a href="#" class="btn btn-lg btn-primary">Find Reservation</a>
      </div>
      <hr>
      <div class="text-center">
        Don't know your confirmation #?
        Your confirmation # was included in an email sent at the time of booking. Please check your email to recover the
        number.
      </div>
    </div>
  </div>
</div>