<!-- ======= Contact Section ======= -->
<section id="section-contact" class="contact">
    <div class="container">



        <div class="row order-2 order-md-1">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="fa fa-map"></i>
                    <h3>Our Address</h3>
                    <p>Sungava, Near Vajra Taxi Stand, Gangtok, Sikkim - 737101</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa fa-envelope"></i>
                    <h3>Email Us</h3>
                    <p>tarconhotel@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="fa fa-play"></i>
                    <h3>Call Us</h3>
                    <p>+9103592206161 &nbsp; +917449506745</p>
                </div>
            </div>

        </div>

        <div class="row order-1 order-md-2">

            <div class="col-lg-6 order-2 order-md-1">
                <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=27.342277491499537,
                    88.61256586520905&amp;t=&amp;z=14&amp;output=embed" frameborder="0"
                    style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 order-1 order-md-2">
                <form role="form" class="php-email-form h-100">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required [(ngModel)]="form.name">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required [(ngModel)]="form.email">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required [(ngModel)]="form.subject">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required
                            [(ngModel)]="form.message"></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-end"><button type="submit" class="btn btn-sm btn-primary px-2 py-1"
                            (click)="postForm()">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->