<div class="container">
    <div class="row">
        <app-greeting></app-greeting>
    </div>
</div>
<div id="section-about" class="container-fluid px-0 mx-0" id="div-ourstory">
    <h1 class="text-center text-uppercase section-title pt-0 pb-4">Our Story</h1>
    <div class="row w-100 mx-0 px-0">
        <app-aboutus></app-aboutus>
    </div>
</div>

<div class="container-fluid px-0 mx-0 pt-5" id="div-exploreinn">
    <h1 class="text-center text-uppercase section-title pt-5 pb-4">Explore Inn</h1>
    <div class="row w-100 mx-0 px-0">
        <app-exploreinn></app-exploreinn>
    </div>
</div>

<div class="container-fluid px-0 mx-0 my-5" id="div-dineinn">
    <h1 class="text-center text-uppercase section-title pt-5 pb-4">Dine Inn</h1>
    <div class="row w-100 mx-0 px-0">
        <app-dineinn></app-dineinn>
    </div>
</div>

<div class="container" id="section-service pt-5 mt-5" id="div-otherservices">
    <h1 class="text-center text-uppercase section-title pt-5 pb-4">Other Services</h1>
    <div class="row">
        <app-tarconservices></app-tarconservices>
    </div>
</div>

<div class="container-fluid bg-white px-0 pt-5 mt-5" id="div-placesnearby">
    <h1 class="text-center text-uppercase section-title pt-3 pb-4">Places Nearby</h1>
    <div class="row">
        <app-nearby class="nearby-container"></app-nearby>
    </div>
</div>

<div class="container-fluid px-0 pt-5 mt-5" id="div-populardestinations">
    <h1 class="text-center text-uppercase section-title pt-5 pb-4">Popular Destinations</h1>
    <div class="row">
        <app-populardestination></app-populardestination>
    </div>
</div>

<div class="container-fluid contactus-container pb-5" id="div-contactus">
    <h1 class="text-center text-uppercase section-title pt-5 pb-4">Contact us</h1>
    <div class="row">
        <app-contactus></app-contactus>
    </div>
</div>