<!-- Nearby Locations Start -->
<!-- Nearby Locations Start -->
<section class="page-section">
  <div class="container">
    <ul class="timeline mt-5 mt-lg-5">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/vajrataxistand.jpg"
            alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Vajra Taxi Stand</h4>
            <h4 class="subheading fs-6">10 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Private parking facilities, Taxi for Nathu-La, Tsmongo-Lake, Baba-Mandir, Lachung-Lachen
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/vajraworld.jpg"
            alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Vajra Shopping Complex<br>& Cinema Hall</h4>
            <h4 class="subheading fs-6">50 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">This is a shopping mall complex in Gangtok, Sikkim, housing a Cinema Hall and retail
              outlets of some reputed Brands like Reliance Digital Store, KFC, Jio Mart, Mochi, etc. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/mgmarg.jpg"
            alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">M.G Marg</h4>
            <h4 class="subheading fs-6">1 KM</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">MG Road is an open mall or boulevard square which is widely regarded to be the town
              centre and is the best shopping destination for tourists. This is a great place to take a leisurely stroll
              or just sit on the benches and revel in the eclectic ambience.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/smilezone.jpg"
            alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Kids Smile Zone</h4>
            <h4 class="subheading fs-6">50 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">The area with a stunning unhindered view of the valley, has a toddler’s play area,
              video games area, and a rock-climbing area that will begin soon. This space was created, keeping in mind,
              the need of a playing space for children.</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>


<!-- Nearby Locations End -->