<!-- Nearby Locations Start -->
<!-- Nearby Locations Start -->
<section class="page-section">
  <div class="container">
    <ul class="timeline mt-lg-5">
      <li class="d-flex">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/vajrataxistand.jpg" alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Vajra Taxi Stand</h4>
            <h4 class="subheading fs-6">10 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Private parking facilities, Taxi for Nathu-La Chango-Lake Baba-Mandir Lachung Lachen
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/vajraworld.jpg" alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Vajra Shopping Complex<br>& Cinema Hall</h4>
            <h4 class="subheading fs-6">50 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/mgmarg.jpg" alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">M.G Marg</h4>
            <h4 class="subheading fs-6">1 KM</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/nearby-images/smilezone.jpg" alt="..."></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="fw-bold primary-dark">Kids Smile Zone</h4>
            <h4 class="subheading fs-6">50 Mtrs</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>


<!-- Nearby Locations End -->